<div class="admin-container">

    <div style="height: 90px;"></div>

    <div>
        <%= link_to 'add tender', new_tender_path, :class => 'add-tender-button' %>
    </div>

    <div class="form-style-90">
        <h3 class="about-heading">Listing complaints</h3>
        <% if @complaints.length === 0 %>
            <h5>No any Feedback</h5>
        <% end %>
        <div class="numberlist" style="overflow-x: auto;">
            <table>
              <thead>
                    <tr>
                    <th>Sl no.</th>
                    <th>Name of Sender</th>
                    <th>Title of Complaint</th>
                    <th>Email of Sender</th>
                    <th>Mobile of Sender</th>
                    <th>Complain in Details</th>
                   <% if current_user %> <th>Remove</th> <% end %>
                  </tr>
              </thead>
                <tbody>
                    <% i = 0 %>
                    <% @complaints.each do |complaint| %>
                    <% i = i.to_i + 1%>
                    <tr>
                        <td><%= i %></td>
                        <td><%= complaint.sender %></td>
                        <td><%= complaint.title %></td>
                        <td><%= complaint.email %></td>
                        <td><%= complaint.mobile %></td>
                        <td><%= complaint.description %></td>
                      <% if current_user %>  <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td> <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>


    <div class="form-style-90">
        <h3 class="about-heading">Listing Messages</h3>
        <% if @messages.length === 0 %>
            <h5>No any Messages</h5>
        <% end %>
        <div class="numberlist" style="overflow-x: auto;">
            <table>
              <thead>
                    <tr>
                    <th>Sl no.</th>
                    <th>Name of Sender</th>
                    <th>Title of Complaint</th>
                    <th>Complain in Details</th>
                   <% if current_user %> <th>Remove</th> <% end %>
                  </tr>
              </thead>
                <tbody>
                    <% i = 0 %>
                    <% @messages.each do |message| %>
                    <% i = i.to_i + 1%>
                    <tr>
                        <td><%= i %></td>
                        <td><%= message.name %></td>
                        <td><%= message.title %></td>
                        <td><%= message.description %></td>
                      <% if current_user %>  <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td> <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>

</div>
