
<div class="new-tender-container">
	
	<div style="height: 90px;"></div>

	 <div>
	 	<h3 class="text-center form-style-9-header">Make New Tender</h3>
	 	<%= form_for @tender, url: tenders_path, html: {class: "form-style-9 form-size450"} do |f| %>
		  <ul>
		  
		 <li> <%= f.text_field :title, :class => 'field-style field-full', :placeholder => 'Title of Tender' %></li>
		 <li> <%= f.file_field :file, :class => 'field-style field-full', :placeholder => 'Write Your Complaint Here' %></li>
		  <li><%= f.submit "Submit" %></li>
		  </ul>
		<% end %>
	</div>
</div>