<div class="about-board-container">
  <div style="height: 90px;"></div>

    <section class="about" id="about">
      <h2 class="about-heading text-center">About Biswanath Chariali Municipal Board</h2>

      <div class="row about-description">
      <div class="col-md-7">
        <div class="about-text">
          <p>
            Biswanath Chariali is the headquater of Biswanath district in Central Assam. The culturally vibrant city derived its name from sacred Biswanath Ghat. The sacrosanct
          ghat on bank of mighty Brahmaputra, has a cluster of temples, and is also known as Gupt Kashi, in comparison with holy city of Kashi during golden rule of Guptas. The city is now proud of its new Clock Tower (Ghanta Ghar), the first of its kind in Assam.
          </p>

          <p>
            On July 1970, a four-member Biswanath Chariali Town Committee was born with four wards under guardianship of veteran freedom fighter Late Cheniram Das as its founder Chairmen. After 41 glorious year of service, on March 21 2011, the town committee was upgraded to Biswanath Chariali Municipal Board, and its ambit was widened to eight wards.
          </p>

           <p>
             Sri Dilip Baruah, who was last elected Chairperson of town committee, shouldered the responsibility of Founder Chairperson of new municipal board. At present Biswanath Chariali Municipal Board is led by Smti Ruli Sharma as chairperson.
           </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="video-div">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qOXdwbYs6a4?ecver=2"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
