 <div class="committee-member-container">
	<div style="height: 90px;"></div>
<% @assets = [

	   {
		'details' => 'Biswanath Chariali Municipal Board (BCMB) is operating one bi-weekly market at Madhupur, where trade commences on Sundays and Thursdays. The BCMB is planning to redesign the existing market to a modern and hygienic one.'
		},
		{
		'details' => 'BCMB runs two daily markets at BG Road and Kochgaon. There is another market shed at Bamgaon under the municipal board.'
		},
		{
		'details' => 'BCMB has three commercial buildings, rented out to traders at Kochgaon, Madhupur and BG Road.'
		},
		{
		'details' => 'BCMB has been maintaining two parks and one library in Biswanath Charliali. '
		},
		{
		'details' => 'One state of the art auditorium is under construction and is likely to be completed soon.'
		}
	] %>

<div class="form-style-90">
	 <h3 class="about-heading">Assets</h3>

 	<div class="numberlist" style="overflow-x: auto;">
		<table>
		  <thead>
				<tr>
					<th>Sl no.</th>
			    <th class="text-align-th">Our Assets</th>
			  </tr>
		  </thead>
			<tbody>
				<% i = 0 %>
				<% @assets.each do |asset| %>
				<% i = i.to_i + 1%>
				<tr>
					<td><%= i %></td>
					<td><%= asset['details'] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
 	</div>
</div>
</div>