<div class="committee-member-container">
	<div style="height: 90px;"></div>
<% @committee_members = [

	   {
		'name' => 'Sri Pratap Saikia ',
		'contact_no' => '9435040377',
		'email_id' => '',
		'picture' => ''
		},
		{
		'name' => 'Smti Rita Mahanta ',
		'contact_no' => '8638514438',
		'email_id' => '',
		'picture' => ''
		},
		{
		'name' => 'Sri Rupok Das Gupta ',
		'contact_no' => '9954011366',
		'email_id' => '',
		'picture' => ''
		},
		{
		'name' => 'Smti Ruli Sarmah, Chairperson    ',
		'contact_no' => '9401067900',
		'email_id' => '',
		'picture' => ''
		},
		{
		'name' => 'Smti Taposhi Saha ',
		'contact_no' => '9435505535',
		'email_id' => '',
		'picture' => ''
		},
		{
		'name' => 'Smti Madhobi Sarkar',
		'contact_no' => '9707688100',
		'email_id' => '',
		'picture' => ''
		},
		{
		'name' => 'Sri Anjan Borah',
		'contact_no' => '9435982723',
		'email_id' => '',
		'picture' => ''
		},
		{
		'name' => 'Sri Dipak Deka ',
		'contact_no' => '8011077559',
		'email_id' => '',
		'picture' => ''
		},

		{
		'name' => 'Sri Biman Saikia',
		'contact_no' => '9435853556',
		'email_id' => '',
		'picture' => ''
		},
		{
		'name' => 'Smti Bithika Sen, Vice Chairperson',
		'contact_no' => '8011845036',
		'email_id' => '',
		'picture' => ''
		},
		{
		'name' => 'Sri Manuj Borah',
		'contact_no' => '9435383822',
		'email_id' => '',
		'picture' => ''
		},
		{
		'name' => 'Miss Ashma Sultana',
		'contact_no' => '8638451793',
		'email_id' => '',
		'picture' => ''
		}

	] %>

<div class="form-style-90">
	 <h3 class="about-heading">Ward Commissioners</h3>
 	<div class="numberlist" style="overflow-x: auto;">
		<table>
		  <thead>
				<tr>
					<th>Ward No.</th>
			    <th>Ward Commissioners</th>
			    <th>Mobile Number</th>
			  </tr>
		  </thead>
			<tbody>
				<% i = 0 %>
				<% @committee_members.each do |member| %>
				<% i = i.to_i + 1%>
				<tr>
					<td><%= i %></td>
					<td><%= member['name'] %></td>
					<td><%= member['contact_no'] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
 	</div>
</div>
</div>
