<div class="complaint-container">
  <div style="height: 90px;"></div>

   <div class="container">
     <div style="display: flex; justify-content: space-around; margin-top: 30px; flex-wrap: wrap">
     <div style="flex: 1; padding-right: 15px;">
       <h3 class="form-style-9-header">Leave us a Message</h3>
       <p style="font-size: 15px; line-height: 1.6em;">
         If you have a complaint or a grievance, please feel free to write to our Complaint Centre. We promise to look into your complaint and take the appropriate measures at the earliest.
       </p>
     </div>

   	<%= form_for Complaint.new, url: complaints_path, html: {class: "form-style-9"} do |f| %>
  	  <ul>
    	  <li>
  	  		<%= f.text_field :title, :class => 'field-style field-split align-left', :placeholder => 'Title For Complaint' %>
          <%= f.text_field :sender, :class => 'field-style field-split align-right', :placeholder => 'Your Fullname' %>
    	  </li>
        <li>
          <%= f.text_field :email, :class => 'field-style field-split align-left', :placeholder => 'Your Email' %>
          <%= f.text_field :mobile, :class => 'field-style field-split align-right', :placeholder => 'Your Mobile' %>
        </li>
        <li>
          <%= f.text_area :description, :class => 'field-style complaint-textarea', :placeholder => 'Write Your Complaint Here' %>
        </li>
        <li><%= f.submit "Submit" %></li>
  	  </ul>
  	<% end %>
    </div>
   </div>

</div>
