 <div class="contact-us-container">
   <div style="height: 90px;"></div>

 <div class="container">
  <h3 class="about-heading">Contact us</h3>
  <div class="contact-us-address">
    <div class="form-style-10">
       <section>
         <div>
           <h3 class="address-heading">Our Address</h3>
           <div class="contact-address-container">
             <div class="address" style="flex: 1">
               <div class="icon-location">
                 <i class="fa fa-map-marker" aria-hidden="true"></i>
               </div>
               <div class="myaddress">
                 <p class="about-text">Biswanath Charliali Municipality Board<br>
                   BG Road, Near Post Office<br>
                   Biswanath Chariali, Dist: Biswanath <br>
                 Assam, India.<br>
                 Assam-784176</p>
               </div>
             </div>
           <div style="flex: 1">
             <div class="address">
               <div class="icon-location">
                 <i class="fa fa-phone" aria-hidden="true"></i>
               </div>
               <div class="myaddress" style="flex: 1">
                 <p class="about-text">Help Desk- 03715-222059</p>
               </div>
             </div>
             <div class="address">
               <div class="icon-location">
                 <i class="fa fa-phone" aria-hidden="true"></i>
               </div>
               <div class="myaddress" style="flex: 1">
                 <p class="about-text">Chairperson- 9401067900</p>
               </div>
             </div>
             <div class="address">
               <div class="icon-location">
                 <i class="fa fa-phone" aria-hidden="true"></i>
               </div>
               <div class="myaddress" style="flex: 1">
                 <p class="about-text">Executive Officer- 8011003249</p>
               </div>

             </div>

           </div>
           <!-- <div class="social-icons" style="flex: 1">
             <a class="social-icon facebook">
               <i class="fa fa-facebook"></i>
               <i class="fa fa-facebook"></i>
             </a>
             <a class="social-icon google">
               <i class="fa fa-google-plus"></i>
               <i class="fa fa-google-plus"></i>
             </a>
             <a class="social-icon twitter">
               <i class="fa fa-twitter"></i>
               <i class="fa fa-twitter"></i>
             </a>
           </div> -->
           <div style="flex: 1">
             <div class="address">
               <div class="icon-location">
                 <i class="fa fa-phone" aria-hidden="true"></i>
               </div>
               <div class="myaddress" style="flex: 1">
                 <p class="about-text">Sanitary Branch- 8011967522</p>
               </div>
             </div>
             <div class="address">
               <div class="icon-location">
                 <i class="fa fa-phone" aria-hidden="true"></i>
               </div>
               <div class="myaddress" style="flex: 1">
                 <p class="about-text">Engineering Branch- 9435182860</p>
               </div>
             </div>
             <div class="address">
               <div class="icon-location">
                 <i class="fa fa-envelope" aria-hidden="true" style="font-size: 23px"></i>
               </div>
               <div class="myaddress">
                 <p class="about-text">biswanathchariali.tc@gmail.com</p>
               </div>
             </div>
           </div>
         </div>

        </div>
      </section>
    </div>
  </div>
  <div class="contact-us-form-address">
    <div class="contact-us-form">
      <%= form_for Message.new, url: messages_path, html: {class: "form-style-9"} do |f| %>
       <ul>
          <li>
            <%= f.text_field :name, :class => 'field-style field-split align-left', :placeholder => 'Your Name' %>
            <%= f.text_field :email, :class => 'field-style field-split align-right', :placeholder => 'Your Email' %>
         </li>
         <li>
          <%= f.text_field :mobile, :class => 'field-style field-split align-left', :placeholder => 'Mobile' %>
          <%= f.text_field :title, :class => 'field-style field-split align-right', :placeholder => 'Your Topic or Subject' %>
         </li>
        <li> <%= f.text_area :description, :class => 'field-style', :placeholder => 'Write Your Description Here' %></li>
        <li><%= f.submit "Submit" %></li>
      </ul>
     <% end %>
     <div class="social-icons" style="flex: 1">
       <a class="social-icon facebook">
         <i class="fa fa-facebook"></i>
         <i class="fa fa-facebook"></i>
       </a>
       <a class="social-icon google">
         <i class="fa fa-google-plus"></i>
         <i class="fa fa-google-plus"></i>
       </a>
       <a class="social-icon twitter">
         <i class="fa fa-twitter"></i>
         <i class="fa fa-twitter"></i>
       </a>
     </div>
    </div>


    <div class="contact-google-map" id="map"></div>
  </div>
 </div>

 </div>
