
    <section class="home" id="home">

      <div class="layer-background">
        <div>
        <h3 class=" assamese-text">বিশ্বনাথ চাৰিআলি পৌৰসভা</h3>
        <h3 class="carousel-heading">Biswanath Chariali Municipal Board</h3>
      </div>
      </div>

    </section>

   <div class="container-about">
    <div class="container">
      <section class="about" id="about">
        <h2 class="about-heading text-center">About Biswanath Chariali Municipal Board</h2>
        <div class="about-description">
            <div class="about-text">
              <span>
                 Biswanath Chariali is the headquater of Biswanath district in North Assam. The culturally vibrant city derived its name from sacred Biswanath Ghat.
              </span>
              <div class="video-div">
             <div class="embed-responsive embed-responsive-16by9">
               <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qOXdwbYs6a4?ecver=2"></iframe>
             </div>
            </div>
              <p>
                   The sacrosanct
                ghat on bank of mighty Brahmaputra, has a cluster of temples, and is also known as Gupt Kashi, in comparison with holy city of Kashi during golden rule of Guptas. The city is now proud of its new Clock Tower (Ghanta Ghar), the first of its kind in Assam.
              </p>


              <p>
                  On July 1970, a four-member Biswanath Chariali Town Committee was born with four wards under guardianship of veteran freedom fighter Late Cheniram Das as its founder Chairmen.
                After 41 glorious year of service, on March 21 2011, the town committee was upgraded to Biswanath Chariali Municipal Board, and its ambit was widened to eight wards.
              </p>

              <p>
                Sri Dilip Baruah, who was last elected Chairperson of town committee, shouldered the responsibility of Founder Chairperson of new municipal board. At present Biswanath Chariali Municipal Board is led by Smti Ruli Sharma as chairperson.
              </p>
            </div>
        </div>
      </section>
    </div>

   </div>
    <section class="about-carousel" id="projects">
      <div id="mySecondCarousel" class="carousel about-carousel slide" data-ride="carousel">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#mySecondCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#mySecondCarousel" data-slide-to="1"></li>
          <li data-target="#mySecondCarousel" data-slide-to="2"></li>
          <li data-target="#mySecondCarousel" data-slide-to="3"></li>
          <li data-target="#mySecondCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner about-carousel">
          <div class="item home-item about-item1 active about-carousel">
          </div>

          <div class="item home-item about-item2 about-carousel">
          </div>

          <div class="item home-item about-item3 about-carousel">
          </div>
          <div class="item home-item about-item4 about-carousel">
          </div>
          <div class="item home-item about-item5 about-carousel">
          </div>
        </div>
       <a class="left carousel-control carousel-control-prev" href="#mySecondCarousel" data-slide="prev">
         <i class="fa fa-chevron-left carousel-control-next-icon" aria-hidden="true"></i>
         <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control carousel-control-next" href="#mySecondCarousel" data-slide="next">
         <i class="fa fa-chevron-right carousel-control-next-icon" aria-hidden="true"></i>
         <span class="sr-only">Next</span>
       </a>
     </div>
    </section>


    <div class="container-message-chairperson-home padding-bottom-0">
      <div class="container chairperson-container">
        <section class="chairperson">
         <h2 class="chairperson-heading text-center">Message from the Chairperson</h2>
          <div class="chairperson-img-description">
            <div class="chairperson-img">
              <img src="../images/chairperson.png" class="img-responsive">
            </div>
            <div class="chairperson-description">
              <p class="text-justify">It is a proud moment for me to dedicate this website to the people of Biswanath Chariali. </p>

              <p class="text-justify">After taking charge of this Municipal Board, I have been striving to make Biswanath Charliali a modern and well planed town and serve the residents of this town with dedication.There are a number of roadblocks that we need to overcome to achieve are target of modern, planned, green and clean Biswanath Chariali. But I am confident that with the support and guidance of all of you, we will make it possible very soon.
              </p>

              <p class="text-justify">  A website is a great tool to connect with people and roll out services.  We are also planning to roll out online payment of taxes, online service request etc through this website very soon. This website also provides links to our social media accounts like Twitter and Facebook, through which we expect frequent interaction between the Board and our esteemed townsfolk, especially the new generation. </p>

              <p class="text-justify">Let us exchange ideas and help each other to make Biswanath Charliali a smart town. I also take this opportunity to thank everyone who has contributed immensely in creating this website and to everyone having shown trust in me in serving the people with pride. 
              </p>
              <div class="chairperson-details position-bottom-50 text-right">
                <%= image_tag 'sign.png', class: 'sign-chairperson' %>

              <h5 class="chairperson-name">Smti Ruli Sharma</h5>
              <p class="chairperson-designation">Chairperson</p>
            </div>
            </div>

          </div>
        </section>
      </div>
    </div>

    <section class="complaints" id="complaints">
      <h3 class="complaints-text text-center">For any complaints or Grievances</h3>
      <button class="complaints-button">
      <%= link_to 'complaint box', complaints_path %>

      </button>
    </section>


    <section class="contact-us" id="contact">
      <div class="social">
        <h3 class="about-heading margin-left30">Contact us</h3>
        <div class="address">
          <div class="icon-location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="myaddress">
            <p class="about-text-14">Biswanath Charliali Municipality Board<br>
                   BG Road, Near Post Office<br>
                   Biswanath Chariali, Dist: Biswanath <br>
                 Assam, India.<br>
                 Assam-784176
            </p>
          </div>
        </div>
        <div class="address adress-space-between">
          <div class="half-space-address">
            <div class="icon-location">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="myaddress">
            <p class="about-text-14">Help Desk- 03715-222059</p>
          </div>
          </div>
          <div class="half-space-address">
            <div class="icon-location">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="myaddress">
            <p class="about-text-14">Chairperson- 9401067900</p>
          </div>
          </div>
        </div>

        <div class="address adress-space-between">
          <div class="half-space-address">
            <div class="icon-location">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="myaddress">
            <p class="about-text-14">Executive Officer- 8011003249</p>
          </div>
          </div>
          <div class="half-space-address">
            <div class="icon-location">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="myaddress">
            <p class="about-text-14">Sanitary Branch- 8011967522</p>
          </div>
          </div>
        </div>

        <div class="address adress-space-between">
          <div class="half-space-address">
            <div class="icon-location">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="myaddress">
            <p class="about-text-14">Engineering Branch- 9435182860</p>
          </div>
          </div>
          <div class="half-space-address">
            <div class="icon-location">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="myaddress">
            <p class="about-text-14">biswanathchariali.tc@gmail.com</p>
          </div>
          </div>
        </div>
        <div class="social-icons margin-left30">
          <a class="social-icon facebook">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-facebook"></i>
          </a>
          <a class="social-icon google">
            <i class="fa fa-google-plus"></i>
             <i class="fa fa-google-plus"></i>
          </a>
          <a class="social-icon twitter">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      <div class="google-map" id="map"></div>
    </section>


    <section id="footer" class="footer">
      <h4 class="text-center">External Links</h4>
      <div class="external-links">
        <a href="http://pmaymis.gov.in/">Pradhan Mantri Awas Yojana</a>
        <a href="http://mhupa.gov.in/">
Ministry of Housing and Urban Affairs</a>
        <a href="http://tcpassam.gov.in/">Directorate of town and country planning</a>
        <a href="http://assam.mygov.in/">Assam My Gov</a>
        <a href="http://mygov.in/">My Government</a>
        <a href="https://newindia.in/">New India</a>
        <a href="https://gem.gov.in/">Gem Government</a>
        <a href="http://digitalindia.gov.in/">Digital India</a>
        <a href="https://data.gov.in/">Data Government</a>
        <a href="https://india.gov.in/">Indian Government</a>
        <a href="http://www.pmindia.gov.in/en/">PM India</a>
        <a href="http://www.swachhbharaturban.in/sbm/home/">Swachh Bharat</a>
        <a href="http://dibrugarhmunicipality.org.in/Municipal%20Act.html">Municipal Act</a>
      </div>
      <div class="footer-quadtrust-text">
        <p style="color: white">Website powered by <a href="https://quadtrust.com/" target="_blank" style="text-decoration: underline">Quadtrust Digital Solutions Pvt. Ltd</a></p>
      </div>
    </section>
