<div class="container-message-chairperson">
    <div style="height: 90px;"></div>
      <div class="container">
      <section class="chairperson">
        <h2 class="chairperson-heading text-center">Message from Executive Officer</h2>
        <div class="chairperson-img-description">
          <div class="executive-img">
            <img src="../images/executive.jpg" class="img-responsive">
          </div>
          <div class="chairperson-description">
            <div class="text-justify about-text">
            <p>It gives me great pleasure to associate myself with the culturally vibrant city of Biswanath Chariali as the Executive Officer of the Biswanath Chariali Municipal Board.  </p>

			       <p>My responsibility as the Executive Officer of the Biswanath Chariali Municipal Board gave me the unique opportunity to serve the culturally loaded citizens. Working in tandem with everyone to transform the city as “the best place to reside” is the goal of the municipal board.  </p>

             <p>As improving the quality of life of the people is the primary objective of the municipal board, I request everyone to come forward and extend their helping hands to make Biswanath Chariali a clean and pollution-free urban habitation.</p>
             <p>
               While infection-control is the new buzz-word across the globe, Biswanath Chariali Municipal Board also would educate the common people about the hazards of contamination and microbial growth. Please help us, so that, we can help everyone.
             </p>
             <p>
               The rapidly urbanising town needs a visionary approach in terms of planning and developement. There is the need of a MASTER PLAN of the town that is capable of addressing the needs of at least fifty years from now, especially in terms of a drainage network, public space, recreational facilities etc, a plan that can coalesce ecology with sustainable developement of Biswanath Chariali a smart town.
             </p>
            </div>
            <div class="chairperson-details text-right">
            	<h5 class="chairperson-name">Biswajit Saikia, ACS</h5>
            	<p class="chairperson-designation">Executive Officer  </p>
            </div>
          </div>
        </div>
      </section>
    </div>
</div>
