

 <div class="container-message-chairperson">
    <div style="height: 90px;"></div>
      <div class="container">
        <section class="chairperson">
         <h2 class="chairperson-heading text-center">Message from the Chairperson</h2>
          <div class="chairperson-img-description">
            <div class="chairperson-img">
              <img src="../images/chairperson.png" class="img-responsive">
            </div>
            <div class="chairperson-description">
              <p class="text-justify">It is a proud moment for me to dedicate this website to the people of Biswanath Chariali. </p>

              <p class="text-justify">After taking charge of this Municipal Board, I have been striving to make Biswanath Charliali a modern and well planed town and serve the residents of this town with dedication.
              There are a number of roadblocks that we need to overcome to achieve are target of modern, planned, green and clean Biswanath Chariali. But I am confident that with the support and guidance of all of you, we will make it possible very soon.</p>

              <p class="text-justify">  A website is a great tool to connect with people and roll out services.  We are also planning to roll out online payment of taxes, online service request etc through this website very soon. This website also provides links to our social media accounts like Twitter and Facebook, through which we expect frequent interaction between the Board and our esteemed townsfolk, especially the new generation. </p>

              <p class="text-justify">Let us exchange ideas and help each other to make Biswanath Charliali a smart town. 
              I also take this opportunity to thank everyone who has contributed immensely in creating this website and to everyone having shown trust in me in serving the people with pride.
              </p>
              <%= image_tag 'sign.png' %>
            </div>
          </div>
        </section>
      </div>
    </div>
