<div class="ongoing-projects-container">
	<div style="height: 90px;"></div>
<% @ongoing_projects = [

	{
		'name' => '3rd Finance',
		'sector' => 'State ',
		'work' => 'Road Construction and Paid Electricity Dues ',
		'amount' => '3792418/- ',
		'funding' => 'SFC',
		'construction_year' => '2010-11 ',
		'status' => '30% Complete',
		'coverage' => ''
		},
		{
		'name' => 'DDP ',
		'sector' => 'State  ',
		'work' => 'Road Construction and Community Stage ',
		'amount' => '1049222/- ',
		'funding' => 'DMA ',
		'construction_year' => '2010-11  ',
		'status' => '82% Complete',
		'coverage' => ''
		},
		{
		'name' => 'SJSRY',
		'sector' => 'Central and State ',
		'work' => 'Auditorium Hall at Bhupen Hazarika Park ',
		'amount' => '1600000/-  ',
		'funding' => 'DMA ',
		'construction_year' => '2009-10  ',
		'status' => 'under process',
		'coverage' => ''
		},
		{
		'name' => 'SJSRY',
		'sector' => 'Central and State ',
		'work' => 'Auditorium Hall at Bhupen Hazarika Park ',
		'amount' => '1500000/-  ',
		'funding' => 'DMA ',
		'construction_year' => '2010-11',
		'status' => 'under process',
		'coverage' => ''
		},

	] %>
<div class="form-style-90">
	 <h3 class="about-heading">Ongoing Projects</h3>
 	<div class="numberlist" style="overflow-x: auto;">
		<table>
		  <thead>
				<tr>
					<th>Sl no.</th>
			    <th>Name of Project</th>
			    <th>Sector</th>
			    <th>Name of the work</th>
					<th>Amount (Rs.)</th>
					<th>Funding By</th>
					<th>Years of Construction</th>
					<th>Status</th>
					<th>Coverage</th>
			  </tr>
		  </thead>
			<tbody>
				<% i = 0 %>
				<% @ongoing_projects.each do |project| %>
				<% i = i.to_i + 1%>
				<tr>
					<td><%= i %></td>
					<td><%= project['name'] %></td>
					<td><%= project['sector'] %></td>
					<td><%= project['work'] %></td>
					<td><%= project['amount'] %></td>
					<td><%= project['funding'] %></td>
					<td><%= project['construction_year'] %></td>
					<td><%= project['status'] %></td>
					<td><%= project['coverage'] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
 	</div>
</div>

</div>
