<div class="past-bearer-container">
  <div style="height: 90px;"></div>
<div class="container">

  <div class="form-style-90">
     <h3 class="about-heading">Past Office Bearers</h3>
    <div class="numberlist" style="overflow-x: auto;">
      <table>
        <thead>
          <tr>
            <th>Sl no.</th>
            <th class="text-align-th">Name</th>
            <th class="text-align-th">Duration</th>
          </tr>
        </thead>
        <tbody>
         <tr>
  					<td>1</td>
            <td>Cheniram Das, Founder Chairman (Nominatd)</td>
            <td>23-07- 1970 to 12-07- 1974</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Tarun Ch. Bhattacharjee, Chairman (Nominated)</td>
            <td>13-07- 1974 to 01-01- 1078</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Jyotish Mazumdar, ACS Executive Officer</td>
            <td>02-01- 1978 to 15-06- 1979</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Mohan Bora, Chairman (Nominated)</td>
            <td>16-06- 1979 to 19-06- 1980</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Dinanath Das, ACS Executive Officer</td>
            <td>20-06- 1980 to 01-04- 1981</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Md. Monohor Ali, ACS Executive Officer</td>
            <td>02-04- 1981 to 13-09- 1983</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Rudreswar Deka, ACS Executive Officer</td>
            <td></td>
          </tr>
          <tr>
            <td>8</td>
            <td>Anupam K. Roy, ACS Executive Officer</td>
            <td>23-01- 1984 to 07-12- 1984</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Binandi Kalita, Chairman (Nominated)</td>
            <td>08-12- 1984 to 30-12- 1985</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Mahadananda Hazarika, ACS Executive Officer</td>
            <td>31-12- 1985 to 04-11- 1986</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Atul Bhuyan, Chairman (Nominated)</td>
            <td>05-11- 1986 to 03-12- 1990</td>
          </tr>
          <tr>
            <td>12</td>
            <td>Mahadananda Hazarika, ACS Executive Officer</td>
            <td>04-12- 1990 to 20-02- 1991</td>
          </tr>
          <tr>
            <td>13</td>
            <td>Jogeswar Nath, ACS Executive Officer</td>
            <td>21-02- 1991 to 07-08- 1991</td>
          </tr>
          <tr>
            <td>14</td>
            <td>Mahadananda Hazarika, ACS Executive Officer</td>
            <td>08-08- 1991 to 30-10- 1992</td>
          </tr>
          <tr>
            <td>15</td>
            <td>Pradip K. Tamuli, ACS Executive Officer</td>
            <td>31-10- 1992 to 05-11- 1992</td>
          </tr>
          <tr>
            <td>16</td>
            <td>Dilip Baruah, Chairman (Elected)</td>
            <td>06-11- 1992 to 06-11- 1996</td>
          </tr>
          <tr>
            <td>17</td>
            <td>Chinmoy Saikia, Executive Officer</td>
            <td>07-11- 1996 to 26-08- 1997</td>
          </tr>
          <tr>
            <td>18</td>
            <td>Smti Aruna Bora, Chairman (Elected)</td>
            <td>27-08- 1997 to 26-08- 2002</td>
          </tr>
          <tr>
            <td>19</td>
            <td>Mahadananda Hazarika, ACS Executive Officer</td>
            <td>27-08- 2002 to 10-02- 2003</td>
          </tr>
          <tr>
            <td>20</td>
            <td>Ranjan Chakraborty, ACS Executive Officer</td>
            <td>11-02- 2003 to 02-02- 2004</td>
          </tr>
          <tr>
            <td>21</td>
            <td>Dr. Nagen Baruah Chairman, (Elected)</td>
            <td>03-02- 2004 to 03-12- 2004</td>
          </tr>
          <tr>
            <td>22</td>
            <td>Chinmoy P. Phukan, ACS Executive Officer</td>
            <td>04-12- 2004 to 05-11- 2005</td>
          </tr>
          <tr>
            <td>23</td>
            <td>(L) Atul Deka, Chairman (Elected)</td>
            <td>06-11- 2005 to 03-02- 2009</td>
          </tr>
          <tr>
            <td>24</td>
            <td>(L) Atul Deka, Administrator</td>
            <td>04-02- 2009 to 14-06- 2009</td>
          </tr>
          <tr>
            <td>25</td>
            <td>Bibek Shyam, ACS Executive Officer</td>
            <td>15-06- 2009 to 09-09- 2009</td>
          </tr>
          <tr>
            <td>26</td>
            <td>Dilip Baruah, Chairman (Elected)</td>
            <td>10-09- 2009 to 20-03- 2011</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>

</div>