<div class="committee-member-container">
	<div style="height: 90px;"></div>
<% @services = [

	   {
		'name' => 'Building Permission',
		'details' => 'Building permission from Board is necessary for construction of any residential or commercial structure within Municipality area. Permission is issued on submission of petition in prescribed format along with land document, drawing of proposed construction etc and site verification by BCMB Engineers.'
		},
		{
		'name' => 'Trade License',
		'details' => 'Licenses are issued to traders to carryout business as per the law and on realisation of the annual fee.'
		},
		{
		'name' => 'NOC for Land Sale permission',
		'details' => 'For any sale of land/ transfer of property in Biswanath Chariali, the BCMB issues no objection certificate subject to clearance of property tax.'
		},
		{
		'name' => 'NOC for Business',
		'details' => 'No Objection Certificate is issued for new commercial establishment/ trade within the Biswanath Chariali Municipal Board areas.'
		},
		{
		'name' => 'Rickshaw/ E Rickshaw License',
		'details' => 'Licenses to Rickshaws and E Rickshaws are issued through PFC by BCMB'
		},
		{
		'name' => 'Cess Pool Van',
		'details' => 'Biswanath Chariali Municipal Board provides service of cesspool van to the public on payment by the applicants.'
		},
		{
		'name' => 'Drinking water tanks',
		'details' => 'Two tankers are operated by the Biswanath Chariali Municipal Board to supply drinking water to the public.',
		}

	] %>

<div class="form-style-90">
	 <h3 class="about-heading">Services</h3>

	 <h5>A number of services are rolled out for the people through the public facilitation centre of BCMB. We are planning to provide some of these services online in a very short period.</h5>
 	<div class="numberlist" style="overflow-x: auto;">
		<table>
		  <thead>
				<tr>
					<th>Sl no.</th>
			    <th class="text-align-th">Services Provided</th>
			    <th class="text-align-th">Details</th>
			  </tr>
		  </thead>
			<tbody>
				<% i = 0 %>
				<% @services.each do |service| %>
				<% i = i.to_i + 1%>
				<tr>
					<td><%= i %></td>
					<td><%= service['name'] %></td>
					<td><%= service['details'] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
 	</div>
</div>
</div>