<div class="container-message-specialperson">
      <div class="container">
      <section class="chairperson">
        <h2 class="chairperson-heading text-center">Message of Local MLA & Invitee Member</h2>
        <div class="chairperson-img-description">
          <div class="special_member-img">
              <div class="ashok_stambh-container display-mobile">
              <img src="./images/ashok_stambh.jpg" class="ashok_stambh">
            </div>
            <img src="../images/special_member.jpg" class="img-responsive rotated_by90">
          </div>
          <div class="special_member-discription">
            <div class="text-justify about-text">
            <div class="ashok_stambh-container display-desktop">
              <img src="./images/ashok_stambh.jpg" class="ashok_stambh">
            </div>
            <p>It gives me immense pleasure to see Biswanath Chariali Municipality Board rolling  out its own website. This website offers a lot of services to the people online and mark the presence of Biswanath Chariali in the digital world in a more meaningful way. </p>

			       <p>Keeping in line with Hon'ble Prime Minister Sri Narendra Modi Ji's dream of Digital India, we are trying to connect to the people through digital medium and offer services online.
              This town is dear to me and I am committed for all round development of this town along with the other parts of my Biswanath Constituency.  We are already in talk with Hon'ble Chief Minister of Assam Sjt Sarbananda Sonowal and higher officials of Government of Assam to introduce a number of development schemes, which will create a better town for the future generation, and at the same time cherish our long and glorious tradition.</p>

             <p>I hope you will continue your trust in us and we will, together, make Biswanath Charliali a great place to live.</p>
            </div>
            <div class="chairperson-details text-right">
            	<h5 class="chairperson-name">Promod Borthakur</h5>
            	<p class="chairperson-designation">Special Member, BCMB &</p>
            	<p class="chairperson-designation">MLA, Biswanath Chariali</p>
            </div>
          </div>
        </div>
      </section>
    </div>
</div>
