<div class="tender-and-notice-container">
<div style="height: 90px;"></div>
	<div class="form-style-90">
	 <h3 class="about-heading">Tenders</h3>
 	<div class="numberlist">
		<table>
		  <thead>
				<tr>
					<th>Sl no.</th>
			    <th>Name of Tender</th>
			    <th>Download Here</th>
			    <% if current_user %><th>Remove Tender</th><% end %>

			  </tr>
		  </thead>
			<tbody>
				<% i = 0 %>
				<% @tenders.each do |tender| %>
				<% i = i.to_i + 1%>
				<tr>
					<td><%= i %></td>
					<td><%= tender['title'] %></td>
					<td><%= link_to "Download Doc Here", tender.file_url %></td>
					<% if current_user %><td><%= link_to 'Destroy', tender, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
 	</div>
</div>
</div>
