<div class="login-form-container">
  <div style="height: 90px;"></div>

  <div class="container">
      <h3 class="text-center form-style-9-header">Log In</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-style-9 form-size450"}) do |f| %>
      <ul>
        <li>
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true, :class => 'field-style field-full', :placeholder => 'Your email' %>
      </li>
      <li>
        <%= f.label :password %><br>
        <%= f.password_field :password, autocomplete: "off",:class => 'field-style field-full', :placeholder => 'Your password'  %>
      </li>

      <% if devise_mapping.rememberable? -%>
        <li>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
       </li>
      <% end -%>

      <li class="actions">
        <%= f.submit "Log in" %>
      </li>
    <% end %>
  <div>

</div>
