body {
  font-family: 'Ubuntu', sans-serif;
}

  .text-align-th {
    text-align: center;
  }

  .position-bottom-50 {
    bottom: -8px !important;
  }

  .ashok_stambh-container {
    padding: 10px 0;
    text-align: center;
  }

  .display-desktop {
    display: none;
  }

  .ashok_stambh {
    width: 30px;
    display: inline-block;
  }
  .padding-bottom-0 {
    padding-bottom: 0 !important;
  }

.custom-navbar{
  background-color: rgba(0,0,0,0.7);
  border: 0;
  min-height: 80px;
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.navbar-header {
  width: 300px;
  height: 80px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.navbar-header > .navbar-brand {
  height: 80px;
}
.navbar-nav {
  margin-right: 30px;
}
.navbar-nav > li{
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav > li.dropdown.open {
  display: block;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 1050px) {
  .navbar-header {
    width: 200px;
  }
  .navbar-nav {
  margin-right: 10px;
}
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}

}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #fff;
}
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-nav > li.dropdown.open .dropdown-menu li a {
  background-color: transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
  background-color: rgba(0,0,0,0.9);
}
.navbar-default .navbar-nav > li > a , .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  padding: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}


/* Home Page */

.home {
  width: 100%;
  height: 550px;
  position: relative;
  background-image: url('../images/Biswanathtemple.JPG');
  background-size: cover;
  background-position: center;

}
.layer-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
  background-color: rgba(0,0,0,0.5);
}
.carousel-heading {
  font-size: 35px;
  font-weight: medium;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 5px;
  text-align: center;
  z-index: 10;
}

.assamese-text {
  z-index: 10;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.carousel-caption {
  bottom: 100px;
}

@media screen and (max-width: 768px) {
    .custom-navbar {
      display: block;
    }
    .navbar-header {
    width: 100%;
    }
  .navbar-header button {
    position: absolute;
    right: 20px;
    top: 20px;

    }
  .navbar-header a {
    position: absolute;
    left: 20px;
   }
  .carousel-heading {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
  }

  .carousel-caption {
    bottom: 20px;
  }
  .home {
    height: 400px;
  }
}
@media screen and (max-width: 500px) {
  .navbar-header {
  width: 300px;
  height: 80px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.navbar-header button {
  right: 10px;
}
.navbar-header > .navbar-brand {
  height: 50px;
  width: 250px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
}

/* About Us */

.about {
  padding: 15px;
  margin-bottom: 50px;
}

.container-about, .login-form-container, .past-bearer-container, .container-message-specialperson, .container-message-chairperson-home, .about-board-container, .container-message-chairperson,.complaint-container, .admin-container, .tender-and-notice-container, .new-tender-container, .contact-us-container, .committee-member-container, .future-project-container, .ongoing-projects-container {
  background-image: url('../images/gplaypattern.png');
  background-repeat: repeat;
  margin: 0;
}

.future-project-container, .past-bearer-container, .about-board-container, .container-message-chairperson, .login-form-container, .complaint-container, .new-tender-container, .admin-container, .tender-and-notice-container, .committee-member-container, .ongoing-projects-container {
  padding: 20px 0;
  min-height: 100vh;
}
.container-message-specialperson {
  padding: 100px 0;
  min-height: 100vh;
}
.container-message-chairperson {
  padding-bottom: 80px;
}
.about-description {
  /*padding: 40px 40px*/
}

.about-heading {
  margin: 30px auto;
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.about-text {
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  /*margin-top: 20px;*/
}
.about-carousel {
  width: 100%;
  height: 100vh;

}
.home-item {
  position: relative;
  background-size: 100% 100%;
  background-position: center;
}
.about-item1 {
  background-image: url('../images/carousel1.jpg');
}
.about-item2 {
  background-image: url('../images/carousel2.JPG');
}
.about-item3 {
  background-image: url('../images/carousel3.JPG');
}
.about-item4 {
  background-image: url('../images/carousel4.JPG');
}
.about-item5 {
  background-image: url('../images/carousel5.jpg');
}
.carousel-control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-control > .fa-chevron-left, .carousel-control > .fa-chevron-right {
  font-size: 30px;
}
.video-div {
  padding: 5px 5px 5px 25px;

  /*margin: 55px auto;*/
}
@media screen and (min-width: 768px) {
  .video-div {
    width: 50%;
    float: right;
  }
}
.video-container {
  float: right;
  width: 50%;
  margin-left: 10px;
}
.about-carousel-img {
  width: 100%;
  max-height: 500px;
}

.rotated_by90 {
  transform: rotate(90deg);
  margin-top: 180px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .rotated_by90 {
    float: right;
  }
}

@media screen and (max-width: 768px) {
  .about-text {
    text-align: justify;
  }
  .about-description {
    padding: 10px 20px;
  }
  .about-carousel {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding:5px 2px;
  }
  .about-description {
    padding: 10px 2px;
  }
}
/* chairperson*/

.chairperson {
  padding: 30px 0;
}

.chairperson-heading {
  text-align: center;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  margin-top: 35px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

@media screen and (min-width: 992px) {
  .chairperson-container{
      width: 100%;
 }
}

.chairperson-container{

}

.chairperson-img-description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.chairperson-img {
  width: 42%;
  max-height: 500px;

}
.chairperson-img > img {
  width: 100%;
}
.executive-img {
  width: 40%;
  max-height: 300px;
  margin-right: 20px;
}
.special_member-img {
  width: 50%;
  text-align: right;
  margin-right: 30px;
}
.chairperson-description {
  width: 55%;
  margin-left: 20px;
  position: relative;
}
.special_member-discription {
  width: 45%;
  margin-left: 0;
  position: relative;
}
.chairperson-details {
  position: absolute;
  right: 0;
  bottom: -90px;
}
.sign-chairperson{
  width: 100px;
}
.chairperson-name {
  font-family: 'Ubuntu Medium', sans-serif;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 8px;
}
.chairperson-designation {
  font-family: 'Ubuntu Regular', sans-serif;
  font-size: 17px;
  margin-bottom: 1px;
}
@media screen and (max-width: 1140px) {
  .chairperson-name {
  font-size: 16px;
  margin-bottom: 2px;
}
.chairperson-designation {
  font-size: 14px;
  margin-bottom: 1px;
}
}
@media screen and (max-width: 1100px) {
  .chairperson-description > p {
    line-height: 19px;
  }
  .chairperson-name {
  font-size: 16px;
  margin-bottom: 2px;
}
}
@media screen and (max-width: 1100px) {
  .chairperson-description > p {
    line-height: 19px;
  }
  .chairperson-name {
  font-size: 16px;
  margin-bottom: 2px;
  margin-top: 4px;
}
}
@media screen and (max-width: 1070px) {
  .chairperson-description > p {
    line-height: 18px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 1040px) {
  .chairperson-description > p {
    line-height: 17px;
    margin-bottom: 3px;
  }
  .sign-chairperson{
  width: 80px;
}
.chairperson-name {
  font-size: 14px;
  margin-bottom: 2px;
}
.chairperson-designation {
  font-size: 12px;
  margin-bottom: 1px;
}
}
@media screen and (max-width: 990px) {
  .chairperson-heading {
    margin-top: 25px;
    margin-bottom: 20px;
  }
.chairperson-img {
  width: 60%;
  margin-bottom: 30px;
}
.chairperson-description {
  width: 90%;
  padding-bottom: 80px;
}
}



/* Admin */

.add-tender-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 6px 16px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: 30px;
}

.add-tender-button:hover {
  background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
    color: #fff;
    text-decoration: none;
}



/* complaints */

.complaints {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/background.jpg');
  background-size: cover;
}
.complaints-button {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #48B34F;
  border-radius: 4px;
  border: 0;
}
.complaints-button > a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
.complaints-text {
  color: #fff;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* contact us */

.contact-us {
  width: 100%;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}
.contact-address-container {
  display: flex; justify-content: space-between; flex-wrap: wrap;
}
.social {
  width: 50%;
  height: 420px;
}

.google-map {
  width: 50%;
  height: 420px;
}



.address {
  display: flex;
  margin-bottom: 15px;
}
.adress-space-between {
  justify-content: space-between;
}
.address > .half-space-address {
  display: flex;
  flex: 1;
}
.icon-location {
  /*width: 15%;*/
  justify-content: center;
  display: flex;
  margin-right: 10px;
}
.icon-location i {
  font-size: 22px;
}
.myaddress {
  width: 75%;
}

.social-icons {
  display: flex;
  margin-top: 20px;
}
.social-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  border: 0;
  overflow: hidden;
  position: relative;
}
.facebook {
  background-color: #3b5998;
}
.google {
  background-color: #C9302C;
}
.twitter {
  background-color: #31B0D5;
}
.social-icon, .social-icon:hover {
  display: inline-block;
  text-decoration: none;
  margin: 5px;
}
.social-icon > i {
  display: block;
  line-height: 40px;
  transition: all 0.5s ease;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.social-icon:hover > i:first-child {
  margin-top: -40px;
}
.margin-left30 {
  margin-left: 50px;
}

@media screen and (max-width: 1100px) {
  .contact-us {
    height: 450px;
  }
  .social {
    height: 450px;
  }
  .google-map {
    height: 450px;
  }
} 

@media screen and (max-width: 900px) {
  .contact-us {
    height: 480px;
  }
  .social {
    height: 480px;
  }
  .google-map {
    height: 480px;
  }
}  

@media screen and (max-width: 768px) {
  .contact-us {
    height: 490px;
  }
  .social {
    height: 490px;
  }
  .google-map {
    height: 490px;
  }
}

@media screen and (max-width: 680px) {
  .contact-us {
    height: 510px;
  }
  .social {
    height: 510px;
  }
  .google-map {
    height: 510px;
  }
}

@media screen and (max-width: 680px) {
  .contact-us {
    height: 530px;
  }
  .social {
    height: 530px;
  }
  .google-map {
    height: 530px;
  }
}

@media screen and (max-width: 610px) {
  .contact-us {
    height: 860px;
    padding-left: 0;
  }
  .social {
  width: 100%;
  height: 430px;
  padding-left: 10px;
}

.google-map {
  width: 100%;
  height: 430px;
  border-bottom: 1px solid #0000ff;
}

}

@media screen and (max-width: 540px) {
  .contact-us {
    height: 800px;

  }
  .social {
  width: 100%;
  height: 450px;
}

.google-map {
  height: 350px;
}

}

@media screen and (max-width: 460px) {
  .contact-us {
    height: 830px;

  }
  .social {
  width: 100%;
  height: 480px;
}

.google-map {
  height: 350px;
}

}


.contact-google-map {
  width: 50%;
  height: 315px;
  margin-left: 2.5%;
}
/*@media screen and (max-width: 844px) {
  .contact-us-form {
    width: 100%;
    margin-right: 0px;
  }
  .contact-google-map {
    width: 100%;
    height: 315px;
    margin-top: 20px;
  }
}*/
/* External Links */

.footer {
  background-color: #1d1514;
  padding-top: 10px;
}
.footer h4 {
  color: #fff;
}
.external-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.external-links > a {
  min-width: 100px;
  padding: 4px 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.footer-quadtrust-text {
  padding-top: 25px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-quadtrust-text > p > a {
  color: #fff;
  font-size: 14px;
}


/* projects html erb */

.project-list {

  margin-left: 50px;
  margin-right: 20px;
  margin-bottom: 20px;

}
.project-title {
  margin: 20px auto;
  border-bottom: 2px solid #d1d1d1;
  display: flex;
  align-items: flex-end;
  width: auto;
}
.project-title h3, .project-title p {
  margin-right: 10px;
}
.project-title div {
  display: inline-block;
}


/* form style of complaint form */

.form-size450 {
  max-width: 450px !important;
  margin: 0 auto;
}

.form-style-9{
    /*max-width: 450px;*/
    background: #FAFAFA;
    padding: 30px;
    /*margin: 50px auto;*/
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    /*border: 6px solid #305A72;*/
    font-family: 'Ubuntu Regular', sans-serif;
}
.form-style-10{
    /*max-width: 450px;*/
    background: #FAFAFA;
    padding: 20px;
    margin: 50px auto;
}
.form-style-9 ul li .complaint-textarea {
  height: 135px;
}
.form-style-50{
    width: 45%;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
}
.form-style-90 {
  width: 90%;
    /*background: #FAFAFA;*/
    /*padding: 30px;*/
    margin: 50px auto;
}
.form-style-9 ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style-9 ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.form-style-9 ul li  .field-style{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
    width: 49%;
}
.form-style-9 ul li .field-full{
    width: 100%;
}
.form-style-9 ul li input.align-left{
    float:left;
}
.form-style-9 ul li input.align-right{
    float:right;
}
.form-style-9 ul li textarea{
    width: 100%;
    height: 100px;
}
.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 6px 16px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}
.form-style-9-header {
  color: #2F79A4;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 20px;
}

/* contact us */
.address-heading {
  margin-top: 0px;
  margin-bottom: 20px;
}
.contact-us-form-address, .complaint-and-message {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.contact-us-form-address {
  margin-bottom: 30px;
}
.contact-us-form {
  width: 45%;
  margin-right: 2.5%;
}
.contact-us-address {
  /*width: 50%;*/
}


@media screen and (max-width: 768px) {
  .contact-us-form {
  width: 100%;
}
.contact-us-address {
  width: 100%;
}
.form-style-50 {
  width: 80%;
}
}

@media screen and (max-width: 768px) {
.form-style-50 {
  width: 90%;
  padding: 30px 5px;

}
}



/* List view */


.numberlist ul {
 counter-reset: li;
 list-style: none;
 list-style: decimal;
 font: 15px 'Ubuntu medium',sans-serif;
 padding: 0;
 margin-bottom: 4em;
}

.numberlist ul li {
  margin: 0 0 0 2em;
}
.numberlist .mylistdiv {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  color: #444;
  background-color: #fff;
  border-radius: .3em;
}
.numberlist .mylistdiv .list-heading {
  font-size: 20px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: 'Ubuntu Regular', sans-serif;
}
.numberlist .mylistdiv .list-title {
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Ubuntu Regular', sans-serif;
}
.numberlist .mylistdiv .list-text {
  font-size: 16px;
    font-family: 'Ubuntu Regular', sans-serif;
}
.numberlist .mylistdiv:hover {
  background-color: #cbe7f8;
}
.numberlist .mylistdiv > span {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
  }

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}


img.navbar-brand-img.img-responsive {
    width: 140px;
    margin-top: -10px;
}

@media screen and (min-width: 901px) {
  .display-desktop {
      display: block;
  }
  .display-mobile {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .display-desktop {
      display: none;
  }
  .display-mobile {
    display: block;
  }
   .rotated_by90 {
     width: 400px;
     margin: 90px 0;
  }
  .special_member-discription {
    width: 90%;
    margin-left: 0;
    position: relative;
}
}
@media screen and (max-width: 500px) {
  .rotated_by90 {
    margin: 60px 0;
  }
}