  <nav class="custom-navbar navbar-default navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to root_path, :class => 'navbar-brand' do %>
            <%= image_tag("logo.png", :alt => "logo img", :class => 'navbar-brand-img img-responsive') %>
          <% end %>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li data-section="#home"><%= link_to 'Home', root_path, :tabindex => '-1' %></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us<span class="caret"></span></a>
              <ul class="dropdown-menu" style="text-align: center;background-color: rgba(0,0,0,0.7);">
                <li><%= link_to 'Message of Local MLA & Invitee Member', special_member_path, :tabindex => '-1' %></li>
                <li><%= link_to 'Message of Executive Officer', message_executive_path, :tabindex => '-1' %></li>
                <!-- <li><%= link_to 'Past Members', past_bearers_path, :tabindex => '-1' %></li> -->
                <li><%= link_to 'Services', services_path, :tabindex => '-1' %></li>
                <li><%= link_to 'Assets', assets_path, :tabindex => '-1' %></li>
                <li><%= link_to 'Ward Commissioners', committee_members_path, :tabindex => '-1' %></li>
                <li><%= link_to 'Past Office Bearers', past_bearers_path, :tabindex => '-1' %></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu" style="text-align: center;background-color: rgba(0,0,0,0.7);">
                <li><%= link_to 'Ongoing Projects', ongoing_projects_path, :tabindex => '-1' %></li>
                <li><%= link_to 'Future Projects', future_projects_path, :tabindex => '-1' %></li>
              </ul>
            </li>

            <li><%= link_to 'Tender / Notice', tender_and_notice_path, :tabindex => '-1' %></li>
            <li data-section="#complaints"><%= link_to 'Feedback', complaints_path, :tabindex => '-1' %></li>
            <li data-section="#contact"><%= link_to 'Contact Us', contact_path, :tabindex => '-1' %></li>
            <% if current_user %>
              <li >
                <%= link_to 'Logout', destroy_user_session_path ,method: :delete %>
             </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
