<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The official website of the Biswanath Chariali Municipal Corporation. Use this site for any complaints/list tenders.">
  <!-- Control the behavior of search engine crawling and indexing -->
  <meta name="robots" content="index,follow"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->
  <!-- Tells Google not to provide a translation for this page -->
  <meta name="google" content="notranslate">
  <!-- Short description of your site's subject -->
  <meta name="subject" content="Biswanath Chariali Official Web Home">
  <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
  <!-- IE10: Disable link highlighting upon tap (https://blogs.windows.com/buildingapps/2012/11/15/adapting-your-webkit-optimized-site-for-internet-explorer-10/) -->
  <meta name="msapplication-tap-highlight" content="no">


  <title>Biswanath</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-104010714-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>

  <%= render 'layouts/navbar' %>

<%= yield %>

    <script>
      function initMap() {
        var uluru = {lat: 26.735890, lng: 93.151303};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcnGL4cw9iDHcvNgg-FZSlQcydEZQXWjI&callback=initMap">
   </script>
</body>
</html>
